# Core
pandas
numpy
matplotlib
scipy
seaborn
scikit-learn
squarify
plotly
IPython

# Jupyter environment
jupyterlab

# Optional: For Excel/Parquet support
openpyxl        # read/write .xlsx files

# For progress bars (optional)
tqdm

# Optional: File system tools
python-dotenv   # for managing env variables if needed

